@import "../../scss/index.scss";

.login-form {
  h1 {
    font-size: 22px;
    font-weight: bold;
    color: $primary;
  }

  .input-box {
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;

    input {
      position: absolute;
      height: 100%;
      width: 100% !important;
      border-radius: 6px !important;
      font-size: 16px !important;
      outline: none !important;
      padding-left: 16px !important;
      background: $light !important;
      border: 2px solid transparent !important;
      transition: all 0.3s ease !important;

      &:focus,
      &:valid {
        border-color: $primary !important;
        background-color: #fff !important;
      }

      &:focus ~ label,
      &:valid ~ label {
        top: 0;
        left: 12px;
        display: 14px;
        color: $primary;
        background: $white;
      }
    }
    label {
      position: absolute;
      left: 18px;
      top: 50%;
      color: $black;
      font-size: 15px;
      pointer-events: none;
      transform: translateY(-50%);
      transition: all 0.3s ease;
    }
  }
}
