@import "../../scss/index.scss";
.label{
    background: #2A5DB0;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 1rem;
}

.right-field{
    background-color: #C3D9FF;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 0.5rem;
}

.modal-title{
    font-weight: bold;
}

.modal-header,.modal-footer{
    background: #deedf7;
}

.modal-body{
    background: #f5f5f7;
}