@import "./scss/index.scss";

body {
  margin: 0;
  text-decoration: 0;
  padding: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  background: $white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  max-width: 1050px;
  width: 100%;

  img {
    max-width: 55%;
  }
}

.home-section {
  position: relative;
  background-color: $white;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.ui.form {
  .btn-submit {
    color: $white;
    background: $primary;
    padding-left: 0;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    width: 100%;

    &:hover {
      background-color: lighten($color: $primary, $amount: 10);
    }
  }
}

@media (max-width: 1000px) {
  .content {
    padding: 10px 0;
    img {
      max-width: 70px;
    }
  }
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
  }
}
